/* BEGINING OF RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET*/





body, button{
    font-family: "Karla", sans-serif;
}
body{
    background-color: #f3f0e9;
}

h1, h2, h3, h4, h5, nav{
    font-family: "Lato", sans-serif;
}
.wrapper{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
}

/* for MOBILE first */
h1{
    font-size: 2.027rem;  /* (32.44px) */
}
h2{
    font-size: 1.802rem;  /* (28.83px) */
}
h3{
    font-size: 1.424rem;  /* (22.78px) */
}
p{
    font-size: 16px;
}

/* for MOBILE first */
h1{
    font-size: 2.027rem;  /* (32.44px) */
}
h2{
    font-size: 1.802rem;  /* (28.83px) */
}
h3{
    font-size: 1.424rem;  /* (22.78px) */
}
p{
    font-size: 16px;
}

/* START OF HEADER AND NAVIGATION */

header{
    background-color: #000000;
    padding: 25px 0 5px 0;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav{
    padding: 12px 0 0 0;
}
header li{
    color: #ffffff;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* END OF HEADER AND NAVIGATION */
/* START OF EXPERIENCE PART*/
.experience{
    background-image: url(../images/hero-background.jpg);
    height: 450px;
    background-size: cover;
    background-position: 0 30%;
    position: relative;
}
.exp_content{
    color: #ffffff;
    background-color: #0000008a;
    text-align: center;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exp_content h1{
    max-width: 95%;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 20px;
}
.exp_content p{
    max-width: 70%;
    line-height: 21px;
    margin-bottom: 40px;
}
.button_black-on-white{               /* TEMPLATE FOR BUTTON WITH WHITE BACKGROUND */
    background-color: #f3f0e9;
    text-transform: uppercase;
    font-weight: 800;
    border: 0;
    font-size: 16px;
    padding: 12px 25px
}
.button_transparent{               /* TEMPLATE FOR BUTTON WITH TRANSPARENT BACKGROUND */
    text-transform: uppercase;
    color: #f3f0e9;
    background-color: #00000000;
    font-weight: 700;
    border: 2px solid #f3f0e9;
    font-size: 16px;
    padding: 10px 25px
}
.button_white-on-black{               /* TEMPLATE FOR BUTTON WITH BLACK BACKGROUND */
    background-color: #000000;
    color: #f3f0e9;;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    font-size: 16px;
    padding: 12px 25px
}

/* START OF EXPERIENCE A NEW WAY TO TASTE COFFEE PART */

.new_way_text{
    margin: 70px 0 30px 0;
    max-width: 70%;
}
.h4{
    margin-bottom: 15px;
    color: #d69e3d;
    text-transform: uppercase;
    font-weight: 600;
}
.h2{
    font-weight: 700;
    color: #272727;
    text-transform: uppercase;
}
.h2_white{
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.grid_five-photo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    gap: 15px;
}
.grid_five-photo > img{
    width: 100%;
}
.biggest{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.grid_five-photo >img:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.grid_five-photo >img:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.grid_five-photo >img:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
.grid_five-photo >img:nth-child(5){
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
/* START OF WHY VISIT US PART */
.visit_text{
    text-align: center;
    margin: 50px 0 20px 0;
}
.visit_content{
    margin-bottom: 80px;
}
.trade, .goods, .love{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}
.trade h3, .goods h3, .love h3{
    margin-bottom: 15px;
}
.trade p, .goods p, .love p{
    max-width: 90%;
}
.svg{
    max-width: 40%;
    padding: 20px;
}
/* START OF MENU AND LOCATIONS PART */
.our_menu_background{
    background-image: url(../images/coffee-shop.jpeg);
    height: auto;
    background-size: cover;
    background-position: 40% 0;
    position: relative;
}
.menu_locations_content{
    display: flex;
    flex-direction: column;
    background-color: #0000008a;
    align-items: center;
    padding: 40px;
}
.our_menu, .locations{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0 40px 0;
}
.our_menu h2, .locations h2{
    color: #f3f0e9;
}
.our_menu button, .locations button{
    margin: 40px 0 0 0;
}
/* START OF READ OUR STORY PART */
.read_story_all{
    margin-bottom: 80px;
}
.read_story_all img{
    width: 100%;
    margin-top: 100px;
}
.read_story{
    margin-top: 15px;
}
.read_story p{
    margin-top: 10px;
}
.read_story button{
    margin-top: 10px;
}
/* START OF TESTIMONIALS PART */
.testimonials_background{
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 80px;
}
.testimonials_all img{
    width: 100%;
    height: 100%;
}
.testimonials_all{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.headings h4{
    padding-top: 50px;
}
.headings h2{
    padding-bottom: 30px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006c;
}
/* JANE */
.jane {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.jane_img {
    height: 100%;
}
.jane_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.jane_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
}
/* SCOTT */
.scott{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.scott_img {
    height: 100%;
}
.scott_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top
}
.scott_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
}
/* SUSIE */
.susie{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.susie_img {
    height: 100%;
}
.susie_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top
}
.susie_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px;
}
/* STARTS OF FOOTER */
footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 600;
}
hr{
    padding: 0;
    margin: 0 0 15px 0;
    border: 1px rgba(128, 128, 128, 0.408) solid;
}



                                                            /* This is for TABLETS*/
@media screen and (min-width: 768px) {
    h1{
        font-size: 2.986rem;  /* (47.78px) */
    }
    h2{
        font-size: 2.488rem;  /* (39.81px) */
    }
    h3{
        font-size: 1.728rem;  /* (27.65px) */
    }
    p{
        font-size: 1rem;
    }
    /* START OF EXPERIENCE */
    .experience{
        background-image: url(../images/hero-background.jpg);
        height: 500px;
        background-size: cover;
        background-position: 0 45%;
        position: relative;
    }
    .exp_content h1{
        max-width: 80%;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .exp_content p{
        max-width: 60%;
        line-height: 22px;
        margin-bottom: 45px;
    }
    /* START OF EXPERIENCE A NEW WAY TO TASTE COFFEE PART */
    .new_way_text{
        margin: 70px 0 30px 0;
        max-width: 50%;
    }
    .grid_five-photo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    .grid_five-photo > img{
        width: 100%;
    }
    .biggest{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .grid_five-photo >img:nth-child(2){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .grid_five-photo >img:nth-child(3){
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    .grid_five-photo >img:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .grid_five-photo >img:nth-child(5){
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    /* START OF WHY VISIT US PART */
    .visit_text{
        text-align: center;
        margin: 50px 0 20px 0;
    }
    .visit_content{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 1fr 1fr;
    }
    .trade, .goods, .love{
        display: flex;
        margin: 0;
    }
    .trade{
        grid-column: 1 / 4;
    }
    .goods{
        grid-column: 4 / 8;
    }
    .love{
        grid-column: 2 / 6;
        grid-row: 2 / 3;
    }
    .trade h3, .goods h3, .love h3{
        margin-bottom: 15px;
    }
    .trade p, .goods p, .love p{
        max-width: 80%;
    }
    .svg{
        max-width: 35%;;
        padding: 20px;
    }
    /* START OF MENU AND LOCATIONS PART */
    .our_menu_background{
        background-image: url(../images/coffee-shop.jpeg);
        height: auto;
        background-size: cover;
        background-position: 40% 0;
        position: relative;
    }
    .menu_locations_content{
        display: flex;
        flex-direction: row;
        background-color: #0000008a;
        align-items: center;
    }
    .our_menu, .locations{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    .our_menu h2, .locations h2{
        color: #f3f0e9;
    }
    .our_menu button, .locations button{
        margin: 60px 0 20px 0;
    }
    /* START OF READ OUR STORY PART */
    .read_story_all{
        display: flex;
        margin-top: 100px;
        gap: 20px;
        align-items: center;
    }
    .read_story_all img{
        width: 50%;
        margin-top: 0;
    }
    .read_story{
        margin-top: 15px;
    }
    .read_story p{
        margin-top: 10px;
    }
    .read_story button{
        margin-top: 30px;
    }
    /* START OF TESTIMONIALS PART */
    .testimonials_background{
        background-color: #000000;
        color: #ffffff;
        padding-bottom: 80px;
    }
    .testimonials_all img{
        width: 100%;
        height: 100%;
    }
    .testimonials_all{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .testimonials_all h4{
        margin-top: 10px;
    }
    .headings h4{
        padding-top: 50px;
    }
    .headings h2{
        padding-bottom: 30px;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000006c;
    }
}


                                                        /* THIS IS FOR DESKTOPS*/

@media screen and (min-width: 1100px) {
    h1{
        font-size: 3.815rem;  /* (61.04px) */
    }
    h2{
        font-size: 3.052rem;  /* (48.83px) */
    }
    h3{
        font-size: 1.953rem;  /* (31.25px) */
    }
    p{
        font-size: 1rem;
    }
    /* NAVIGATION */
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header{
        padding: 0;
    }
    nav{
        padding: 0;
    }
    /* START OF EXPERIENCE */
    .exp_content{
        width: 100%;
        color: #ffffff;
        background-color: #0000008a;
        text-align: center;
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .experience{
        background-image: url(../images/hero-background.jpg);
        height: 860px;
        background-size: cover;
        background-position: 0 45%;
        position: relative;
    }
    .exp_content h1{
        max-width: 60%;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .exp_content p{
        max-width: 40%;
        line-height: 22px;
        margin-bottom: 45px;
    }
    /* START OF EXPERIENCE A NEW WAY TO TASTE COFFEE PART */
    .new_way_text{
        margin: 70px 0 30px 0;
        max-width: 45%;
    }
    .grid_five-photo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    .grid_five-photo > img{
        width: 100%;
    }
    .biggest{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .grid_five-photo >img:nth-child(2){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .grid_five-photo >img:nth-child(3){
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    .grid_five-photo >img:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .grid_five-photo >img:nth-child(5){
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
    /* START OF WHY VISIT US PART */
    .visit_text{
        text-align: center;
        margin: 50px 0 20px 0;
    }
    .visit_content{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
    }
    .trade, .goods, .love{
        display: flex;
    }
    .trade{
        grid-column: 1 / 2;
    }
    .goods{
        grid-column: 2 / 3;
    }
    .love{
        grid-column: 3 / 4;
        grid-row: 1 / 1;
    }
    .trade h3, .goods h3, .love h3{
        margin-bottom: 15px;
    }
    .trade p, .goods p, .love p{
        max-width: 80%;
    }
    .svg{
        max-width: 40%;
        max-height: 45%;
        padding: 20px;
    }
    /* START OF MENU AND LOCATIONS PART */
    .our_menu_background{
        background-image: url(../images/coffee-shop.jpeg);
        height: auto;
        background-size: cover;
        background-position: 20% 50%;
        position: relative;
    }
    .menu_locations_content{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        color: #ffffff;
        background-color: #0000008a;
    }
    .our_menu, .locations{
        display: flex;
        max-width: 40%;
        flex-direction: column;
        margin-top: 50px;
    }
    .our_menu h2, .locations h2{
        color: #f3f0e9;
    }
    .our_menu button, .locations button{
        margin: 60px 0 20px 0;
    }
    /* START OF READ OUR STORY PART */
    .read_story_all{
        display: flex;
        margin-top: 100px;
        gap: 20px;
        align-items: center;
    }
    .read_story_all img{
        width: 50%;
        margin-top: 0;
    }
    .read_story{
        margin-top: 15px;
    }
    .read_story p{
        margin-top: 10px;
    }
    .read_story button{
        margin-top: 30px;
    }
    
    
}